#mainplot {
    width: 79%;
    max-width: calc(100% - 210px);
    height: calc(100vh - 100px);
    float: left;
}

#sidebar {
    width: 20%;
    min-width: 200px;
    float: right;
}

#countrylist {
    overflow: scroll;
    height: 400px;
    margin-top: 10px;
}

#logocontainer {
    width: 100%;
    text-align: center;
}

#powarelogo {
    width: 200px;
}
