body {
    overflow: hidden;
    background-color: #fff;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

#mainplot {
    width: 100%;
    height: 100%;
}

#infectivityplot {
    height: 150px;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    width: 25%;
    padding: 10px;
    overflow: scroll;
}

#sidebarsmall {
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

#countrylist {
    overflow: scroll;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#curveselect, #rparameters, #smoothenparameters, #countrylistbox {
    margin-top: 10px;
    margin-bottom: 20px;
}

#curveselect > select {
    margin-top: 10px;
    max-width: 100%;
}

#options {
    margin-top: 10px;
    margin-bottom: 20px;
}

#curvevariants > li {
    list-style-type: none;
}

#logocontainer {
    width: 100%;
    text-align: center;
}

.powarelogosmall {
    width: 66px;
    margin-top: 10px;
}

#noteslogocontainer {
    float: right;
    margin: 10px;
}

#powarelogo {
    width: 200px;
}

.rangewrap {
    
}

.range {
    display: inline;
    width: 40%;
    vertical-align: middle;
}

.rangeInfo {
    width: 3ex;
    display: inline-block;
}

html {
    font-size: 12px;
}
